@import url(topo.css);
@import url(facilidades.css);
@import url(interfaceIntuitiva.css);
@import url(motorista.css);
@import url(prefooter.css);
@import url(footer.css);
@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
:root{
--cor-branca:#ffffff;
--cor-borda:#C8C1C1;
--cor-texto:#000000;
--cor-background:#ffffff;
--cor-hover: rgb(255, 255, 255);

}

body{
    font-family: 'Inter', sans-serif;
background-color: var(--cor-background);
    
}

[data-theme="dark"]{
    --cor-branca:#000000;
    --cor-borda:#ffffff;
    --cor-texto:#ffffff;
    --cor-background:#000000;
    --cor-hover: black;
    body{
        color: var(--cor-texto);
    }
  footer{
    color: var(--cor-texto);
  }
  .vanTopo{
    color: var(--cor-texto);
  }

  .imagemCelularTopo,.celularInterfaceIntuitiva,.celularGrande{
    
    animation: flutuar 2s infinite alternate 
    cubic-bezier(0.5, 0.05, 0.1, 0.3);
    filter: drop-shadow(20px  40px 50px #ffffff6e);
  
    
}

}




