.interfaceIntuitiva {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    flex-direction: column;
}



.gridInterfaceIntuitiva {
    margin-top: 4em;
    display: grid;
    grid-template-columns: 500px 1fr;
    border: 3px solid #C8C1C1;
    border-radius: 22px;
    padding: 3em 7em;


}

.gridInterfaceIntuitiva:hover {

    background-color: #FDF9F9;
}



.gridConteudoInterfaceIntuitiva {
    display: flex;
    gap: 1em;
    padding: 5em;
    font-weight: 400;
    font-size: 16px;
    color: #7C7C7C;
}

.gridConteudoInterfaceIntuitiva1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.sectionBaixoInterfaceIntuitiva {
    display: grid;
    padding: 3em;
    margin: 0 20em;
    grid-template-columns: 500px 500px;
    gap: 8em;


}

.borderInterfaceIntuitiva {
    border: 3px solid #C8C1C1;
    border-radius: 22px;
    padding: 0 3em;
    padding-top: 1em;
}

.borderInterfaceIntuitiva:hover {
    background-color: #FDF9F9;
}




.textoIntefaceIntuitivaBaixo {
    padding-bottom: 1em;
    font-weight: 400;
    font-size: 16px;
    color: #7C7C7C;

}


.ImagemIntefaceIntuitivaBaixo {

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 3em;
}

.mulherNoSofa {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    padding-top: 8em;

}

.tituloMotorista {
    display: flex;
    justify-content: center;
    align-items: center;
}

.celularpequeno {
    display: none;

}

.bandidoPequeno {
    display: none;
}


.mulherNoSofaPequeno {

    display: none;
}

@media screen and (max-width: 431px) {



    
    .celularInterfaceIntuitiva {
        display: none;
    }

    .gridInterfaceIntuitiva {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin-top: 4em;

        display: grid;
        grid-template-columns: 2fr 1fr;
        border: 2px solid #7C7C7C;
        border-radius: 0px;
        padding: 0em 0em;


    }

    .gridConteudoInterfaceIntuitiva {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        padding: 2em;

    }

    .celularpequeno {
        display: block;

    }

    .gridConteudoInterfaceIntuitiva1 {
        display: flex;
        padding: 0em;



    }

    .tituloGrid {
        width: 200px;
    }

    .imagemBandidoGrande {
        display: none;
    }


    .bandidoPequeno {
        display: block;
    }


    .mulherNoSofa {
        display: none;
    }

    .mulherNoSofaPequeno {
        display: block;
    }

    .sectionBaixoInterfaceIntuitiva {
        display: grid;
        padding: 1em;
        margin: 0 0em;
        grid-template-columns: 1fr 1fr;
        gap: 1em;


    }

    .textoIntefaceIntuitivaBaixo {
        padding-bottom: 1em;
        font-weight: 400;
        font-size: 12px;
        color: #7C7C7C;
    }

    .borderInterfaceIntuitiva {
        border: 3px solid #848484;
        border-radius: 22px;
        padding: 0 1em;
        padding-top: 1em;
    }




}