.preFooter {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 800px;
    border: 3px solid #C8C1C1;
    border-radius: 22px;
    padding: 3em;

}

.preFooterGrid1 {
    display: flex;
}

.conteudoPrefooter {
    display: flex;
    padding: 3em;

}

.imagempre{
    padding-right: 1em;
}
.textoPre{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7C7C7C;

}
.posPrefooter {
    margin-top: 2em;
    display: flex;

}

.posPrefooter1,
.posPrefooter2 {
    border: 3px solid #C8C1C1;
    border-radius: 22px;
    font-size: 28px;
    padding: .5em;
    width: 370px;
    margin: 1em;
    font-size: 28px;
    color: #7C7C7C;

}

.CorDiferente {
    font-size: 60px;
    color: #03A0D5;

}
