.preFooter {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 800px;
    border: 3px solid var(--cor-borda);;
    border-radius: 22px;
    padding: 3em;

}

.preFooter:hover {
    background-color: var(--cor-hover);;
}



.preFooterGrid1 {
    display: flex;
}

.conteudoPrefooter {
    display: flex;
    
    padding: 3em;

}
.celularGrande{
    animation: flutuar 2s infinite alternate 
    cubic-bezier(0.5, 0.05, 0.1, 0.3);
    filter: drop-shadow(5px 10px 10px rgba(0,0,0,0.5));
}

.mensagem:hover{
    display: block;
}
.dica {
    display: none;
    position: absolute;
    background-color: #333;
    color:var(--cor-branca);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    font-size: 12px;
  }
  
  .elemento-com-dica:hover + .dica {
    display: block;
  }


.imagempre{
    max-width: 40px;
    height: 40px;
    padding-right: 1em;
    filter: drop-shadow(5px 10px 10px rgba(0,0,0,0.5));
}

.textoPre{
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--cor-texto);
    

}
.posPrefooter {
    margin-top: 2em;
    display: flex;

}

.posPrefooter1,
.posPrefooter2 {
    border: 3px solid var(--cor-borda);;
    border-radius: 22px;
    font-size: 28px;
    padding: .5em;
    width: 370px;
    margin: 1em;
    font-size: 28px;
    color: var(--cor-texto);;

}


.posPrefooter1:hover {
    background-color: var(--cor-hover);
    transform: scale(1.1);
}

.posPrefooter2:hover {
    background-color: var(--cor-hover);
  transform: scale(1.1);
}

.CorDiferente {
    font-size: 60px;
    color: #03A0D5;

}

#hoverText {
    font-size: 24px;
    padding: 20px;
    border: 2px solid black;
    width: fit-content;
    transition: opacity 10s;
  }
  
  .hidden {
    opacity: 0;
  }

.celularpequenofacilidadesgrid{
    display: none;
}
.mouse-topo{
    display: flex;
    justify-content: flex;
}
.mouse{
position: relative;
margin-left: 2px;

}
.scroll{
    border-radius: 40px;
    position: absolute;
    left: 50%;
    margin-top: .7em;
    animation: flutuar-scroll 2s infinite alternate  ;
}

@keyframes flutuar-scroll {
    0% {
        
      transform: translateY(0);
     
    }
  
    100% {
      transform: translateY(5px); 
    }
   


  }
.celularGrande{
    position: relative;
}

  .navegacao{
    position: absolute;
    transform: translate(-10px , 20px); 

  }


  @media screen and (max-width: 431px) {


    .imagempre{
        max-width: 26px;
        height: 26px;
        padding-right: 1em;
        filter: drop-shadow(5px 10px 10px rgba(0,0,0,0.5));
    }

    .mouse{
        margin-bottom: 1em;
    }




.container{
    display: none;
}
    .preFooter {
        margin-top: 2em;
        border: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 0px;
        border-top: 2px solid #7C7C7C;
        border-bottom: 2px solid #7C7C7C;
        border-radius: 0px;
        padding: 0px;
    
    }
.celularGrande{
    display: none;
}
.celularpequenofacilidadesgrid{
    display: block;
    
    
    animation: flutuar 2s infinite alternate 
    cubic-bezier(0.5, 0.05, 0.1, 0.3);
    filter: drop-shadow(5px 10px 10px rgba(0,0,0,0.5));
  

}


.celularPequenoCentralizar{
    display: flex;
    justify-content: center;
    align-items: center;

}


.conteudoPrefooter {
    display: flex;
    padding: 2em;

}
.conteudoPrefooter {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 1em;
    font-size: 12px;

}

.textoPre{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-texto);
    margin-top: 1em;
    

}
.posPrefooter1,
.posPrefooter2 {
    border: 2px solid var(--cor-borda);
    border-radius: 12px;
    font-size: 12px;
    padding: .5em;
    width: 150px;
    color: var(--cor-texto);

}
.CorDiferente {
    font-size: 22px;
    color: #03A0D5;

}


  }
