.PaisagemTopo {
    display: flex;
    position: relative;


}

.mediaQueryVanTopo {
    display: none;
}

.marcaTopo {
    display: flex;
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: 62px;
    align-items: center;
    padding: 1em;
    font-family: inter;


}

@keyframes slidInLeft {

    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }

}

@keyframes slidInRigth {

    from {
        transform: translateX(300px);
    }

    to {
        transform: translateX(0);
    }
}


.slidInRigth {
    animation-name: slidInRigth;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
}


.slidInLeft {
    animation-name: slidInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;

}

.vanCelularTopo {
    display: flex;
    position: absolute;
    top: 82%;
    left: 40%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;


}



.image-container {
    opacity: 0;
}

.visible {
    animation: fadeIn 4s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.fade-in-image { animation: fadeIn 3s; }




@media screen and (min-width: 1980px) {
    .vanCelularTopo {
        top: 85%;
        /* ajuste a porcentagem para uma posição diferente em telas menores */
    }
}

@media screen and (max-width: 431px) {
    .vanCelularTopNone {
        display: none;
    }


    .marcaTopo {
        color: white;
        font-weight: 400;
        font-size: 24px;
        align-items: center;
        padding: 1em;
        font-family: inter;
    }

    .PaisagemTopo {
        width: 100%;
        height: 300px;

    }

    .mediaQueryVanTopo {
        display: block;
       

    
    }

    .centralizarMidia{
        display: flex;
        position: absolute;
        top: 82%;
        left: 10%;
        transform: translate(-50%, -50%);
        justify-content: center;
        align-items: center;



    }




}
